<div class="row">
  <div class="col-8"> <%= link_to movie.title, movie_path(movie) %> </div>
  <div class="col-2"> <%= movie.rating %> </div>
  <div class="col-2"> <%= movie.release_date.strftime('%F') %> </div>
</div>
